<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
      <xacro:property name="mm_to_m" value="0.001"/>
    <xacro:property name="mm2_to_m2" value="0.000001"/>
    <xacro:property name="gr_to_Kg" value="0.001"/>

<xacro:macro name="kuka_coupler" params="parent name *origin">
  <joint name="${parent}_${name}_joint" type="fixed">
    <insert_block name="origin"/>
    <parent link="${parent}"/>
    <child link="${name}_bottom"/>
  </joint>
  <link name="${name}_bottom">
    <visual>
      <origin xyz="0 0 0.0115" rpy="0 0 0"/>
      <geometry>
         <!-- mesh filename="package://soft_hand_description/meshes/accesories/kuka_coupler.stl"/-->
         <cylinder radius="0.033" length="0.023"/>
      </geometry>
      <material name="SoftHand/Blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.031" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.033" length="0.023"/>
      </geometry>
    </collision>
        <inertial>
      <origin xyz="0 0 0.031" rpy="0 0 0"/>
        <mass value="${250*gr_to_Kg}"/>
        <inertia ixx="${250*gr_to_Kg * 66 * 66 * mm2_to_m2}" ixy="0.0" ixz="0.0" iyy="${250*gr_to_Kg * 66* 66 * mm2_to_m2}" iyz="0.0" izz="${250*gr_to_Kg * 62 * 62 * mm2_to_m2}"/>
      </inertial>
  </link>
  <joint name="${parent}_${name}_base_joint" type="fixed">
    <origin xyz="0 0 0.023" rpy="0 0 0"/>
    <parent link="${name}_bottom"/>
    <child link="${name}"/>
  </joint>
  <link name="${name}"/>

      <gazebo reference="${name}_bottom"> 
        <selfCollide>false</selfCollide>
             <gravity>true</gravity>
       <maxContacts>100</maxContacts>
    <mu1>0.6</mu1>
               <mu2>0.6</mu2>  
    <kp>1000000.0</kp>
    <kd>1000.0</kd>
    <minDepth>0.00</minDepth>
   </gazebo>
</xacro:macro>

</robot>
